.standingsTableContainer {
    /* outline: red 2px dashed; */
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
}
.sRow {
    /* outline: yellow 1px dashed; */
    width: 100%;
    margin: 0;

}
.sCol {
    display: inline-block;
    /* outline: rgb(0, 255, 17) 1px dashed; */
    margin: 0;
    height: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    font-family: Monofont;
    font-size: 1.3em;
    padding: .2em 0;
    margin: -.1em 0;
    letter-spacing: -.02em;
    background-color: var(--cPurpField);
    color: var(--cWhite);

}
.sColName {width: 48%;}
.sColPts {width: 20%;}
.sColWin , .sColTd {width: 15%;}

.sColName {
    text-align: left;   
    font-family: MainfontVariable;
    font-stretch: 110%;
    padding-left: 2%;
}
.sColPts {
    /* text-align: left;    */
    font-family: MainfontVariable;
    font-stretch: 110%;
    font-weight: 900;

}

#sRowHeader p{
    background-color: rgba(0,0,0,0);
    font-family: Monofont;
    font-weight: bold;
    color: var(--cPurpHighlight);
    font-size: 1em;
}


#sRow1 {
    background-color: transparent;
    outline: 3px rgb(222, 187, 46) solid;
    border-radius: 2px;
    box-shadow: 0 0 1em rgb(252, 255, 105);
    margin: .5em 0 1.5em;
    background-color: var(--cPurpField);
}
#sRow1 .sCol{
}
#sRow1 p {
    color: rgb(222, 187, 46);
    /* inner-shadow: gold 10px 10px 10px; */
    text-shadow: 0 0 .2em rgba(251, 255, 0, 0.6);
    padding: .6em 0;
    font-weight: bolder;

}

.mostTD {
    color: rgb(222, 187, 46);
    text-shadow: 0 0 .2em rgba(251, 255, 0, 0.6);
    font-weight: bolder;
}
.mostTDtext {
    color: rgb(222, 187, 46);
    text-shadow: 0 0 .2em rgba(251, 255, 0, 0.6);
    font-weight: bolder;
    font-family: Monofont;
    font-size: .5em;
    line-height: 2em;
    vertical-align: middle;
    margin-left: 10px;

}